.watch-list-wrapper {
  background-image: url("../../../../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  align-items: center;
  // justify-content: space-around;
  gap: 25px;
  h3 {
    margin-top: 80px;
  }

  .to-watch {
    display: flex;
    // width: 100%;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-around;
    gap: 50px;
  }
}
